#footer {
    position: fixed;
    bottom: 0;
    width: 98%;
    background-color: #262626;
    border-style: solid;
    font-size: 20px
}
#sidebyside {
    padding-left: 7%;
    padding-right: 7%;
}